#de-makers {
    position: relative;
    width: 100vw;
    font-family: "Roboto", sans-serif;
}
.container-makers {
    position: absolute;
    text-align: center;
    left: 50%;
    h2 {
        font-weight: bold;
        text-transform: uppercase;
        color: #f3a2bb;
    }
    h1 {
        text-transform: uppercase;
        font-weight: bold;
        color: #1071b8;
    }
}
.container-footer {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    bottom: 0;
    background-color: black;
    opacity: 0.75;
}
/// CONTACT DETAILS
.contact-container {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    p {
        color: whitesmoke;
    }
    a {
        text-decoration: none;
        color: whitesmoke;
    }
}
.contact-container > p:nth-child(1) {
    color: pink;
}
.footer {
    position: absolute;
    bottom: 0;
    font-weight: 200;
    color: whitesmoke;
}
/// REST OF CODE
.container-right-side {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    a {
        color: whitesmoke;
        text-decoration: none;
        // font-weight: 100;
    }
}
.contact-buttons ul {
    display: flex;
    justify-content: space-between;
    li {
        list-style-type: none;
        a img {
            filter: invert(1);
        }
    }
}
.arrow-top {
    position: absolute;
    left: 50%;
    transform: translate(-50%) rotate(180deg);
    span {
        display: block;
        animation: buttonbounce 2.5s infinite;
    }
    span:nth-child(2) {
        animation-delay: -0.1s;
    }
    span:nth-child(3) {
        animation-delay: -0.2s;
    }
}
@keyframes buttonbounce {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}
///Mobile Portrait
@media screen and (max-width: 600px) and (orientation: portrait) {
    ///DISPLAY NONE
    .navbar-bigg-makers {
        display: none;
    }
    .navbar-small-makers {
        position: relative;
        top: 0;
        margin-top: 100px; ///was 20%
    }
    #de-makers {
        height: 850px;   ///OR 100vh
    }
    .container-makers {
        width: 90%;
        top: 40%;
        transform: translate(-50%, -40%);
        h2 {
            font-size: 28px;
            letter-spacing: 0.01rem;
            margin-bottom: 40px;
        }
        h1 {
            font-size: 26px;
            letter-spacing: 0.01rem;
            margin: 12.5px;
        }
        p {
            font-size: 12px;
        }
    }
    ///Footer & FAQ pagina & social media buttons
    .container-footer {
        height: 125px; ///was 15vh
        // top: 85vh;
    }
    .contact-container {
        // margin-left: 0.75rem;
        margin-left: 12.5px;
        p {
            font-size: 7px;
            margin: 2.5px 0px;
        }
        a {
            margin-bottom: 2px;
        }
    }
    .contact-container > a:nth-child(4) P{
        margin-bottom: 27.5px;
    }
    .contact-container > p:nth-child(1) {
        font-size: 9.5px;
    }
    .footer {
        font-size: 5.5px;
        // margin-left: 0.75rem;
        margin-left: 12.5px;
        margin-bottom: 5px;
    }
    .container-right-side {
        // margin-right: 1rem;
        margin-right: 15px;
        // margin-top: 1rem;
        // margin-top: 15px;
        margin-bottom: 27.5px;
        a {
            font-size: 11px;
            p {
                margin: 0 0 15px 0;
            }
        }
    }
    .contact-buttons ul {
        margin: 0;
        padding: 0;
        li a img {
            width: 18.5px;
        }
    }
    ///Arrow to the top
    .arrow-top {
        top: 0;
        // margin-top: 11.5%;
        margin-top: 40px;
        span {
            margin-top: -8px;
            width: 14.5px;
            height: 14.5px;
            border-bottom: 1px solid white;
            border-right: 1px solid white;
        }
    }
}
///Mobile Landscape
@media only screen and (min-width: 600px) and (max-width: 926px) and (orientation: landscape) {
    ///DISPLAY NONE
    .navbar-bigg-makers {
        display: none;
    }
    .navbar-small-makers {
        top: 0;
        margin-top: 350px;    /// was 42.5%
    }
    #de-makers {
        height: 425px;   ////was 115vh
    }
    .container-makers {
        width: 100%;
        top: 40%;
        transform: translate(-50%, -40%);
        h2 {
            font-size: 19px;
            letter-spacing: 0.01rem;
            margin-bottom: 20px;
        }
        h1 {
            font-size: 17px;
            letter-spacing: 0.01rem;
            margin: 10px;
        }
        p {
            font-size: 12px;
        }
    }
    ///Footer & FAQ pagina & social media buttons
    .container-footer {
        height: 115px; ///was 28vh
        // top: 87vh;
    }
    .contact-container {
        // margin-left: 0.5rem;
        margin-left: 10px;
        p {
            font-size: 7px;
            margin: 2.5px 0px;
        }
        a {
            margin-bottom: 2px;
        }
    }
    .contact-container > p:nth-child(1) {
        font-size: 9.5px;
    }
    .footer {
        font-size: 5.5px;
        // margin-left: 0.5rem;
        margin-left: 10px;
        margin-bottom: 5px;
    }
    .container-right-side {
        // margin-right: 1.5rem;
        margin-right: 20px;
        a {
            font-size: 11px;
            p {
                margin: 5px 0 0 0;
            }
        }
    }
    .contact-buttons ul {
        margin: 15px 0 0 0;
        padding: 0;
        li a img {
            width: 19px;
        }
    }
    ///Arrow to the top
    .arrow-top {
        top: 0;
        // margin-top: 5%;
        margin-top: 50px;
        span {
            margin-top: -10px;
            width: 16px;
            height: 16px;
            border-bottom: 1px solid white;
            border-right: 1px solid white;
        }
    }
}
///Tablet Portrait
@media screen and (min-width: 600px) and (orientation: portrait) {
    ///DISPLAY NONE
    .navbar-small-makers {
        display: none;
    }
    .navbar-bigg-makers {
        top: 0;
        margin-top: 100px;   ///was 7.5%
    }
    #de-makers {
        height: 100vh;
    }
    .container-makers {
        top: 40%;
        transform: translate(-50%, -40%);
        h2 {
            font-size: 37px;
            letter-spacing: 0.04rem;
            margin-bottom: 25px;
        }
        h1 {
            font-size: 34px;
            letter-spacing: 0.04rem;
            margin: 15px;
        }
    }
    ///Footer & FAQ pagina & social media buttons
    .container-footer {
        height: 150px; /// was 15vh
        // top: 85vh;
    }
    .contact-container {
        // margin-left: 0.5rem;
        margin-left: 15px;
        p {
            font-size: 12.5px;
            margin: 2.5px 0px;
        }
        a {
            margin-bottom: 2px;
        }
    }
    .contact-container > p:nth-child(1) {
        font-size: 14px;
    }
    .footer {
        font-size: 8px;
        // margin-left: 0.5rem;
        margin-left: 15px;
        margin-bottom: 5px;
    }
    .container-right-side {
        // margin-right: 1.5rem;
        margin-right: 25px;
        // margin-top: 1.5rem;
        margin-top: 25px;
        a {
            font-size: 18px;
            p {
                margin: 0 0 25px 0;
            }
        }
    }
    .contact-buttons ul {
        margin: 15px 0 0 0;
        padding: 0;
        li a img {
            width: 30px;
        }
    }
    ///Arrow to the top
    .arrow-top {
        top: 0;
        // margin-top: 8%;
        margin-top: 55px;
        span {
            margin-top: -12px;
            width: 25px;
            height: 25px;
            border-bottom: 2px solid white;
            border-right: 2px solid white;
        }
    }
}
///Tablet Landscape
@media screen and (min-width: 1023px) and (max-width: 1280px) and (orientation: landscape) {
    ///DISPLAY NONE
    .navbar-small-makers {
        display: none;
    }
    .navbar-bigg-makers {
        top: 0;
        margin-top: 200px;   ///was 17.5%
    }
    #de-makers {
        height: 100vh;
    }
    .container-makers {
        top: 40%;
        transform: translate(-50%, -40%);
        h2 {
            font-size: 35px;
            letter-spacing: 0.04rem;
            margin-bottom: 25px;
        }
        h1 {
            font-size: 32px;
            letter-spacing: 0.04rem;
            margin: 15px;
        }
    }
    ///Footer & FAQ pagina & social media buttons
    .container-footer {
        height: 150px;   ///was 19vh
        // top: 81vh;
    }
    .contact-container {
        // margin-left: 0.5rem;
        margin-left: 15px;
        p {
            font-size: 12.5px;
            margin: 2.5px 0px;
        }
        a {
            margin-bottom: 2px;
        }
    }
    .contact-container > p:nth-child(1) {
        font-size: 14px;
    }
    .footer {
        font-size: 9px;
        // margin-left: 0.5rem;
        margin-left: 15px;
        margin-bottom: 5px;
    }
    .container-right-side {
        // margin-right: 1.5rem;
        margin-right: 25px;
        // margin-top: 1.5rem;
        margin-top: 25px;
        a {
            font-size: 18px;
            p {
                margin: 0 0 25px 0;
            }
        }
    }
    .contact-buttons ul {
        margin: 10px 0 0 0;
        padding: 0;
        li a img {
            width: 28px;
        }
    }
    ///Arrow to the top
    .arrow-top {
        top: 0;
        // margin-top: 5%;
        margin-top: 55px;
        span {
            margin-top: -12px;
            width: 28px;
            height: 28px;
            border-bottom: 2px solid white;
            border-right: 2px solid white;
        }
    }
}
///Desktop
@media screen and (min-width: 1281px) and (max-width: 1960px) {
    ///DISPLAY NONE
    .navbar-small-makers {
        display: none;
    }
    .navbar-bigg-makers {
        top: 0;
        margin-top: 450px;   ///was 30%
    }
    #de-makers {
        height: 110vh;   ///was 110vh
    }
    .container-makers {
        top: 40%;
        transform: translate(-50%, -40%);
        h2 {
            font-size: 36px;
            letter-spacing: 0.04rem;
            margin-bottom: 40px;
        }
        h1 {
            font-size: 39px;
            letter-spacing: 0.04rem;
            margin: 10px;
        }
        p {
            font-size: 12px;
            font-style: italic;
        }
    }
    ///Footer & FAQ pagina & social media buttons
    .container-footer {
        height: 155px;   ///was 20vh
        // top: 90vh;
    }
    .contact-container {
        // margin-left: 1.5rem;
        margin-left: 25px;
        p {
            font-size: 11.5px;
            margin: 5px 0px;
        }
        a {
            margin-bottom: 2px;
            opacity: 0.85;
            cursor: pointer;
            &:hover {
                opacity: 1;
                transition: 400ms ease-in-out;
            }
        }
    }
    .contact-container > p:nth-child(1) {
        font-size: 14px;
    }
    .footer {
        font-size: 9.5px;
        // margin-left: 1.5rem;
        margin-left: 25px;
        margin-bottom: 5px;
    }
    .container-right-side {
        // margin-right: 2rem;
        margin-right: 35px;
        // margin-top: 1rem;
        margin-top: 15px;
        a {
            font-size: 16px;
            opacity: 0.75;
            &:hover {
                opacity: 1;
                transition: 400ms ease-in-out;
            }
        }
    }
    .contact-buttons ul {
        // margin: 0;
        padding: 0;
        li a img {
            width: 28px;
        }
        a img:hover {
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
            transition: 400ms ease-in-out;
        }
    }
    ///Arrow to the top
    .arrow-top span {
        margin-top: -15px;
        width: 25px;
        height: 25px;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
    }
}
///Desktop Big
@media screen and (min-width: 1961px) and (max-width: 2600px) {
    ///DISPLAY NONE
    .navbar-small-makers {
        display: none;
    }
    .navbar-bigg-makers {
        top: 0;
        margin-top: 350px;   ///was 15%
    }
    #de-makers {
        height: 110vh;
    }
    .container-makers {
        top: 40%;
        transform: translate(-50%, -40%);
        h2 {
            font-size: 38px;
            letter-spacing: 0.04rem;
            margin-bottom: 40px;
        }
        h1 {
            font-size: 41px;
            letter-spacing: 0.04rem;
            margin: 10px;
        }
        p {
            font-size: 13px;
            font-style: italic;
        }
    }
    ///Footer & FAQ pagina & social media buttons
    .container-footer {
        height: 185px;   ///was 20vh
        // top: 90vh;
    }
    .contact-container {
        // margin-left: 1.5rem;
        margin-left: 25px;
        p {
            font-size: 11.5px;
            margin: 5px 0px;
        }
        a {
            margin-bottom: 2px;
            opacity: 0.85;
            cursor: pointer;
            &:hover {
                opacity: 1;
                transition: 400ms ease-in-out;
            }
        }
    }
    .contact-container > p:nth-child(1) {
        font-size: 14px;
    }
    .footer {
        font-size: 9.5px;
        // margin-left: 1.5rem;
        margin-left: 25px;
        margin-bottom: 5px;
    }
    .container-right-side {
        // margin-right: 2.5rem;
        margin-right: 40px;;
        // margin-top: 1.5rem;
        margin-top: 20px;
        a {
            font-size: 19px;
            opacity: 0.75;
            &:hover {
                opacity: 1;
                transition: 400ms ease-in-out;
            }
        }
    }
    .contact-buttons ul {
        // margin: 0;
        padding: 0;
        li a img {
            width: 29px;
        }
        a img:hover {
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
            transition: 400ms ease-in-out;
        }
    }
    ///Arrow to the top
    .arrow-top span {
        margin-top: -15px;
        width: 26px;
        height: 26px;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
    }
}
