.nav-container-large-screens {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #d16654;
    button {
        text-transform: uppercase;
        a {
            color: whitesmoke;
            text-decoration: none;
        }
        h3 {
            padding: 0;
            // font-family: "Roboto Condensed", sans-serif;
            font-family: "Roboto", sans-serif;
        }
    }
}
///Tablet Portrait
@media screen and (min-width: 600px) and (orientation: portrait) {
    .nav-container-large-screens {
        top: 6%;
        height: 40px;
        button {
            letter-spacing: 0.04rem;
            font-size: 17px;
            h3 {
                margin: 0px 15px;
            }
        }
    }
}
///Tablet Landscape
@media screen and (min-width: 1023px) and (max-width: 1280px) and (orientation: landscape) {
    .nav-container-large-screens {
        top: 6%;
        height: 40px;
        button {
            letter-spacing: 0.04rem;
            font-size: 17px;
            h3 {
                margin: 0px 15px;
            }
        }
    }
}
///Desktop
@media screen and (min-width: 1281px) and (max-width: 1960px) {
    .nav-container-large-screens {
        top: 8%;
        height: 40px;
        button {
            letter-spacing: 0.123rem;
            cursor: pointer;
            font-size: 19px;
            &:hover {
                filter: invert(1);
                transition: 400ms ease-in-out;
            }
            h3 {
                margin: 0px 20px;
            }
        }
    }
}
///Desktop Big
@media screen and (min-width: 1961px) and (max-width: 2600px) {
    .nav-container-large-screens {
        top: 8%;
        height: 40px;
        button {
            letter-spacing: 0.123rem;
            cursor: pointer;
            font-size: 19px;
            &:hover {
                filter: invert(1);
                transition: 400ms ease-in-out;
            }
            h3 {
                margin: 0px 20px;
            }
        }
    }
}
