#podcast-tailor {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #292a2a;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    .nav-container-uitleg {
        display: none;
    }
    .uitleg-tekst {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        top: 18%;
        // left: 50%;
        // transform: translate(-50%);
        h3 {
            text-align: center;
            color: #f2a2ba;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 0.02rem;
            line-height: 1.3rem;
        }
    }
    .aanvraag-knop {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        top: 60vh;
        img {
            width: 240px;
        }
    }
    #podcast-tailor > div.aanvraag-knop > button {
        background: none;
        border: none;
    }
    //Arrow down Podcast Tailor Page
    #podcast-tailor > a > div.arrow-down-tailor {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 83%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        svg {
            fill: #0f70b8;
            stroke: #2a2a2a;
            stroke-width: 2px;
            transform: rotate(90deg);
            &:hover {
                fill: #479082;
                transition: 300ms ease-in-out;
            }
        }
    }
    #podcast-tailor > a > div.uitleg-tailor {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 91%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        h3 {
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #0f70b8;
        }
    }
}

@media screen and (min-width: 600px) and (orientation: portrait) {
    .nav-container-uitleg {
        display: none;
    }
    .uitleg-tekst {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        top: 18%;
        h3 {
            text-align: center;
            color: #f2a2ba;
            font-size: 25px;
            font-weight: 400;
            letter-spacing: 0.03rem;
            line-height: 1.9rem;
        }
    }
    .aanvraag-knop {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        top: 60vh;
        img {
            width: 330px;
        }
    }
    #podcast-tailor > div.aanvraag-knop > button {
        background: none;
        border: none;
    }
    //Arrow down Podcast Tailor Page
    #podcast-tailor > a > div.arrow-down-tailor {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 83%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        svg {
            fill: #0f70b8;
            stroke: #2a2a2a;
            stroke-width: 1px;
            transform: rotate(90deg);
            &:hover {
                fill: #479082;
                transition: 300ms ease-in-out;
            }
        }
    }
    #podcast-tailor > a > div.uitleg-tailor {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 91%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        h3 {
            font-family: "Roboto", sans-serif;
            font-size: 25px;
            font-weight: 600;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #0f70b8;
        }
    }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
    .nav-container-uitleg {
        position: absolute;
        display: flex;
        top: 9%;
        width: 100vw;
        height: 40px;
        background-color: #f3a2bb;
        z-index: 1;
    }
    .buttons-left-uitleg {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        list-style-type: none;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        width: 20%;
        right: 1%;
        a {
            color: #2a2a2a;
            font-size: 17px;
            font-weight: 600;
            // letter-spacing: 0.1em;
            text-decoration: none;
            margin-right: 5px;
            &:hover {
                color: #fffffe;
                transition: 400ms ease-in-out;
            }
        }
    }
    .buttons-mid-right-uitleg {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style-type: none;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        width: 80%;
        right: 1%;
    }
    .button-home-middle-uitleg {
        position: relative;
        color: #fffffe;
        font-size: 22px;
        font-weight: 600;
        text-decoration: none;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        background: none;
        border: none;
    }
    .button-aanvraag-uitleg {
        position: relative;
        left: 4%;
        color: #292a2a;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        margin: 0 auto;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        background: none;
        border: none;
        cursor: pointer;
        &:hover {
            color: #fffffe;
            transition: 400ms ease-in-out;
        }
    }
    .uitleg-tekst {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        top: 21%;
        h3 {
            text-align: center;
            color: #f2a2ba;
            font-size: 23px;
            font-weight: 400;
            letter-spacing: 0.05rem;
        }
    }
    .aanvraag-knop {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        top: 70vh;
        img {
            width: 270px;
        }
    }
    #podcast-tailor > div.aanvraag-knop > button {
        background: none;
        border: none;
    }

    //Arrow down Podcast Tailor Page
    #podcast-tailor > a > div.arrow-down-tailor {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 83%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        svg {
            fill: #0f70b8;
            stroke: #2a2a2a;
            stroke-width: 1px;
            transform: rotate(90deg);
            &:hover {
                fill: #479082;
                transition: 300ms ease-in-out;
            }
        }
    }
    #podcast-tailor > a > div.uitleg-tailor {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 91%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        h3 {
            font-family: "Roboto", sans-serif;
            font-size: 25px;
            font-weight: 600;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #0f70b8;
        }
    }
}

@media screen and (min-width: 1280px) {
    .nav-container-uitleg {
        position: absolute;
        display: flex;
        top: 10%;
        width: 100%;
        height: 40px;
        background-color: #f3a2bb;
        z-index: 1;
    }
    .buttons-left-uitleg {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        list-style-type: none;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        width: 20%;
        right: 2%;
        a {
            color: #2a2a2a;
            font-size: 17px;
            font-weight: 600;
            letter-spacing: 0.1em;
            text-decoration: none;
            margin: 0 auto;
            &:hover {
                color: #fffffe;
                transition: 400ms ease-in-out;
            }
        }
    }
    .buttons-mid-right-uitleg {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style-type: none;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        width: 80%;
        left: 2.5%;
    }
    .button-home-middle-uitleg {
        position: relative;
        color: #fffffe;
        font-size: 27px;
        font-weight: 600;
        text-decoration: none;
        letter-spacing: 0.1em;
        margin: 0 auto;
        text-transform: uppercase;
        background: none;
        border: none;
    }
    .button-aanvraag-uitleg {
        position: relative;
        left: 18%;
        color: #2a2a2a;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 0.1em;
        text-decoration: none;
        margin: 0 auto;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        background: none;
        border: none;
        cursor: pointer;
        &:hover {
            color: #fffffe;
            transition: 400ms ease-in-out;
        }
    }
    .uitleg-tekst {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        top: 21%;
        font-family: "Roboto", sans-serif;
        h3 {
            text-align: center;
            color: #f2a2ba;
            font-size: 23px;
            font-weight: 400;
            letter-spacing: 0.05rem;
        }
    }
    .aanvraag-knop {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100vw;
        top: 68vh;
    }
    #podcast-tailor > div.aanvraag-knop > button {
        position: relative;
        background: none;
        border: none;
        cursor: pointer;
        img {
            width: 330px;
        }
        img:hover {
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
            transition: 400ms ease-in-out;
        }
    }

    //Arrow down Podcast Tailor Page
    #podcast-tailor > a > div.arrow-down-tailor {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 83%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        svg {
            fill: #0f70b8;
            stroke: #2a2a2a;
            stroke-width: 2px;
            transform: rotate(90deg);
            &:hover {
                fill: #479082;
                transition: 300ms ease-in-out;
            }
        }
    }
    #podcast-tailor > a > div.uitleg-tailor {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 91%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        h3 {
            font-family: "Roboto", sans-serif;
            font-size: 21px;
            font-weight: 600;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #0f70b8;
        }
    }
}

/// Stappenplan

// .stappenplan {
//     position: relative;
//     display: flex;
//     justify-content: center;
//     width: 100%;
//     top: 28%;
//     img {
//         width: 20%;
//     }
// }
// .steps-container {
//     position: relative;
//     display: flex;
//     justify-content: center;
//     width: 100%;
//     top: 31vh;
//     right: 1.2rem;
//     li {
//         float: left;
//         margin: 0px 45px;
//         list-style-type: none;
//         img {
//             display: block;
//             border: none;
//             opacity: 0.7;
//             width: 55px;
//             height: auto;
//         }
//         img:hover {
//             opacity: 1;
//             transition: 400ms ease-in-out;
//         }
//         button {
//             background: none;
//             border: none;
//             cursor: pointer;
//         }
//     }
// }
// .content-details {
//     position: absolute;
//     z-index: 1;
//     background-color: #292a2a;
//     width: 40%;
//     opacity: 0;
//     -webkit-transform: translate(68%, 70%);
//     -moz-transform: translate(68%, 70%);
//     transform: translate(68%, 70%);
//     -webkit-transition: all 0.5s ease-in-out 0s;
//     -moz-transition: all 0.5s ease-in-out 0s;
//     transition: all 0.5s ease-in-out 0s;
// }
// .content:hover .content-details {
//     top: 30%;
//     left: 11.2%;
//     opacity: 1;
//     img {
//         width: 65%;
//     }
// }
// .fadeIn-bottom {
//     left: 30%;
//     right: 30%;
//     opacity: 0;
// }
